@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* shared style */
.display-flex {
  display: flex;
}
.dark-01 {
  color: #000000;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
}
.btn-common {
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 93px;
}
/* header style */
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 2.81rem;
  font-weight: bold;
}
.nav-iteam {
  list-style: none;
  margin-right: 30px;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  text-align: center;
  max-width: 855px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
}
.banner-img {
  width: 100%;
  margin-bottom: 45px;
}
.features {
  display: flex;
  align-items: center;
}
.features-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.banner-details .features-details {
  font-size: 1rem;
}
.features-title {
  font-size: 2.81rem;
  font-weight: bold;
}
.semibold {
  font-weight: 500;
}
.of-our {
  font-weight: 700;
}
.features-color {
  color: #ff900e;
  font-weight: 700;
}
.features-content {
  margin-left: 73px;
  max-width: 535px;
}
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    text-align: center;
  }
}
